.center-feed-div {
    padding-left: auto;
    padding-right: auto;
    padding-top: 10px;
    display: grid;
    align-items: center;
    margin: auto;
    background-color: #fff7f5;
    /* border: 1px solid blue; */
}

body{
    background-color: #fff7f6;
    margin: 0px;
}

.indv-post {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 7px;
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 12px;
    padding-bottom: -3rem;
    background-color: white;
    max-width: 528.5px;
}

.feed-photo {
    width: 33rem;
    height: 38rem;
    object-fit: cover;
}

.post-options-btn {
    font-size: 20px;
    height: 20px;
    width: 10px;
    padding: 8px 30px 40px 15px;
    margin-left: 40px;
    color: white;
}
/* .post-modal-options {
    border: 1px solid blue;
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    transform: 'translate(-50%, -50%)';
    background-color: 'rgba(0, 0, 0, 0.5)';
} */
.unfollow-fromfeed{
    width: 80px;
    height: 30px;
    margin-right: 20px;
    padding: 8px 50px 20px 15px;
}
.cancel-options-btn{
    width: 70px;
    height: 30px;
    padding: 8px 50px 20px 15px;
}
.go-to-post-fromfeed{
    width: 120px;
    height: 30px;
    padding: 8px 20px 20px 15px;
    margin-right: 20px;
}



/* .body{
    background: blue;
} */

.profile-pic {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 100%;
    /* border: 1px solid green; */
    /* margin-left: -10rem; */
}
.username {
    /* border: 1px solid green; */
}
.post-location {
    /* border: 1px solid green; */
}
.userInfo-div {
    /* border: 1px solid blue; */
    display: flex;
}
