
form {
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    box-shadow: 2px  2px 8px #888888;;
    padding: 20px 20px 50px 20px;
    display: grid;
    align-items: center;
    margin: auto;
    background-color: white;
    min-width: 27rem;
    max-width: 27rem;
}
.sign-up-container{
  background-color: #ffb4a5;
  margin: 0;
  /* padding-top: 100%; */
  padding-top: 10px;
  padding-bottom: 130px;
  height: 100%;
  width: 100%;
}
.login-container {
  background-color: #ffb4a5;
  margin: 0;
  /* padding-top: 100%; */
  padding-top: 5rem;
  padding-bottom: 24.75rem;
  height: 100%;
  width: 100%;
}

.login-logo {
  font-family: 'Berkshire Swash', cursive;
  color: #ffb4a5;
  padding-left: 6.1rem;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 65px;
  /* border: 1px solid blue; */
}
.signup-logo{
  font-family: 'Berkshire Swash', cursive;
  color: #ffb4a5;
  padding-left: 6.1rem;
  margin-top: 1px;
  margin-bottom: 0px;
  font-size: 65px;
}
.signup-subtext{
  /* border: 1px solid blue; */
  width: 25.8rem;
  text-align: center;
  margin-left: .5rem;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 20px;
  color: rgb(190, 190, 190);
}
/* .signup-form {
  font-family: 'Montserrat', sans-serif;
  width: fit-content;
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  box-shadow: 2px  2px 8px #888888;;
  padding: 20px 20px 50px 20px;
  display: grid;
  align-items: center;
  margin: auto;
  background-color: white;
} */


input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: grid;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}



button {
  background-color:#ffb4a5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.top-div-landing {
  /* margin-bottom: 30px; */
  background-color: #ffb4a5;
}

.top-div-signup-landing {
  margin-bottom: 30px;
  background-color: #ffb4a5;
}
.error-messages {
    color: red;
  }

   /* .landing-page {
    width: auto;
    height: auto;
    background-color: #ffb4a5;
  } */
