.user-photo-grid {
    /* border: 1px solid blue; */
    /* position: relative; */
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 880px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(231, 231, 231);
    background-color: white;
    border-radius: 4px;
    min-width: 27rem;
    margin-bottom: 15px;
}
.profile-info{
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 7px;
    max-width: 818px;
    background-color: white;
    padding: 2rem;
}
.user-indv-post{
    width: min-content;
    height: min-content;
    /* border: solid 1px blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    /* padding-bottom: -3rem; */
    cursor: pointer;
}

.clicked-on-post-div{
     /* border: 1px solid orange; */
     height: 40rem;
     width: 60rem;
     box-shadow: none;
     max-width: 100rem;
     min-width: 61rem;
     margin: auto;
}

.single-post-photo-div {
    /* border: 1px solid blue; */
    max-width: 30rem;
    min-width: 30rem;
    margin-right: 0px;
    padding: 0px;
    float: left;
}

.clicked-on-image{
    width:30rem;
    height: 40rem;
    object-fit: cover;
}

.single-post-info-div{
    /* border: 1px solid red; */
    max-width: 30rem;
    min-width: 29rem;
    float: right;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
}
.caption-location-single-post{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
}

.user-indv-img {
    width: 17rem;
    height: 16rem;
    /* border-radius: 5%; */
    object-fit: cover;
}
.indv-post-options-btn {
    font-size: 20px;
    height: 20px;
    width: 30px;
    padding: 0px;
    padding-bottom: 30px;
    text-align: center;
    margin: auto;
    float: right;
}
.edit-post-btn{
    width: 70px;
    height: 30px;
    padding: 8px 20px 20px 15px;
    margin-right: 10px;
}
.delete-post-btn {
    width: 70px;
    height: 30px;
    margin-right: 10px;
    padding: 8px 50px 20px 15px;
}

.user-profile-page-profile-pic{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 100%;
}

/* Edit User Form */

.edit-profile-form {
    box-shadow: none;
    /* border: 1px solid blue; */
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

.userform-cancel-x-button {
    width: 20px;
    padding: 5px 22px 5px 10px;
    font-size: 20px;
    /* margin: auto; */
    margin: 0px 0px 0px 25rem;
}

.edit-user-container-1 {
    /* border: 1px solid blue; */
    /* display: grid; */
    position: relative;
    height: 9rem;
    width: auto;
}

.edit-profile-loading{
    width: auto;
    height: 9rem;
    /* border: 1px solid blue; */
    /* margin: 0px 10px 0px 0px; */
    position: absolute;
    left: -9px;
    top: -9px;
}
.edit-user-photo-input {
    /* border: 1px solid blue; */
    margin: 0px 0px 0px 20px;
    position: absolute;
    top: 40px;
    right: 15px;
}
